@model todosServicos.Models.RegisterViewModel
@{
    ViewBag.Title = "Cadastre-se";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Faça o cadastro para solicitar os serviços que desejar.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-lg", @placeholder = "Nome completo" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "E-mail" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Senha" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Repita a senha" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-info btn-lg" value="Cadastrar" />
                </div>
            </div>
        }
    </div>
    @*LOGIN*@
    @{Html.RenderPartial("Login", new todosServicos.Models.LoginViewModel());}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
